<h3>Chart 1: A simple, centered pie chart</h3>
<p>Except it's kind of sneaky because I teach you something else while we're doing it.</p>
<p>Dataset is <code>data/time-breakdown.csv</code></p>
<div id="chart-1"></div>


<script type="text/javascript" src="scripts/homework-13/01-pie.js"></script>