<h3>Chart 2: Pie chart, small multiples</h3>
<p>Same as above, but small multiples'd. You don't need to label the wedges.</p>
<p><strong>Do not use multiple SVGs!</strong> I want this all in one SVG.</p>
<p>Dataset is <code>data/time-breakdown-all.csv</code></p>
<div id="chart-2"></div>

<script type="text/javascript" src="scripts/homework-13/02-pie-multiples.js"></script>