<h3>Chart 3: Fixed-wedge size pie, or radial bar graph</h3>
<p>You can actually the pie generator for this! You don't have to, though.</p>
<p>Dataset is <code>data/ny-temps.csv</code></p>
<div id="chart-3"></div>


<script type="text/javascript" src="scripts/homework-13/03-wedges.js"></script>