<h3>Chart 3b: Small multiples of Chart 3</h3>
<p>Now you'll just have to re-use your code to distribute it across the x axis. Dataset is <code>data/all-temps.csv</code></p>
<div id="chart-3b"></div>


<script type="text/javascript" src="scripts/homework-13/03b-wedges-multiples.js"></script>