<h3>Chart 3c: Chart 3, also showing the minimum temperature for each month</h3>
<p>Isn't this getting fun? Dataset is <code>data/all-temps.csv</code></p>
<div id="chart-3c"></div>

<script type="text/javascript" src="scripts/homework-13/03c-donut-wedges-multiples.js"></script>