<h3>Chart 5: Radial area charts, small multiples </h3>
<p>More small multiples! Dataset is <code>data/all-temps.csv</code></p>
<div id="chart-5"></div>

<script type="text/javascript" src="scripts/homework-13/05-radial-area-multiples.js"></script>