<h3>Chart 7: A weird, fun radial graph </h3>
<p>We're copying <a href="https://blogs.scientificamerican.com/sa-visual/why-are-so-many-babies-born-around-8-00-a-m/">this one</a>! It is <em>completely</em> unreasonable to expect you to do it, which is why it's going to be extra fun. You also learn some weird stuff.</p>
<p>Dataset is <code>data/time-binned.csv</code></p>
<div id="chart-7"></div>

<script type="text/javascript" src="scripts/homework-13/07-mystery.js"></script>