<h3>Chart 8: NBA radar chart</h3>
<p>This is a lesson in how to deal with data that isn't exactly what you're looking for. Also uses weird stuff. Data in <code>data/nba.csv</code></p>
<div id="chart-8">
</div>

<script type="text/javascript" src="scripts/homework-13/08-fancy-radar.js"></script>