<h3>Chart 9: NBA radar chart small multiples</h3>
<p>If you've made one, you've made them all! Kind of.</p>
<p>Data in <code>data/nba.csv</code></p>
<div id="chart-9">
</div>


<script type="text/javascript" src="scripts/homework-13/09-fancy-radar-multiples.js"></script>